*{
    text-decoration: none;
}
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-family: 'Montserrat';
    padding: 10px;
    background-image: url("img/backreglog.jpg");
    background-size: cover; 
    background-position: center;

}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 100px;

}
h1{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #0D986A;
    
}
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}

.input-group .icon {
    position: absolute;
    left: 10px;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #66afe9;
    outline: none;
}

.button-container {
   
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

button {
    font-family: 'Montserrat';
    font-weight: bold;
    width: 120px;
    padding: 10px;
    background-color: #0D986A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 25px;
}

button:hover {
    background-color: #0056b3;
}
.already{
    color: #787878;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 15px;
}
.already a{
    color: #0056b3;
    font-weight: 550;
}
.icon {
    color: #787878; 
    width: 24px;
    height: 24px;
}
.tc{
    display: flex;
    
    color: #787878;
    font-family: 'Montserrat';
    font-size: 15px;
}
.tc a{
    color: #0056b3;
    font-weight: 550;
}