:root {
    --primary: #0D986A;
}

body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
}

.back {
    background-color: var(--primary);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    color: white;
}

.brand {
    display: flex;
    align-items: center;
}

.brand img {
    width: 50px;
}

.brand h1 {
    color: var(--primary);
    font-family: 'Montserrat';
    font-size: 20px;
    margin-left: 10px;
}

.judul {
    font-family: 'Montserrat';
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0;
}

.konten {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
}

.konten img {
    width: 100%;
    max-width: 400px;
    height: auto;
}
.image-container {
    width: 200px; /* Tentukan lebar yang diinginkan */
    height: 200px; /* Tentukan tinggi yang diinginkan */
    overflow: hidden; /* Memastikan bagian gambar yang melebihi kotak akan terpotong */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc; /* Opsi tambahan untuk menambahkan border */
  }

  .image-container img {
    width: 100%; /* Gambar akan menyesuaikan lebar kontainer */
    height: auto; /* Tinggi akan menyesuaikan secara proporsional */
    object-fit: cover; /* Memastikan gambar mengisi kontainer dan menjaga proporsi */
  }

@media (max-width: 600px) {
    .judul {
        font-size: 24px;
    }

    .brand h1 {
        font-size: 16px;
    }

    .konten img {
        max-width: 100%;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .konten img {
        max-width: 200px;
    }

    .judul {
        font-size: 28px;
    }

    .brand h1 {
        font-size: 18px;
    }
}
