body {
    font-family: 'Montserrat';
    background-image: url("img/backreglog.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: small;
background-position: center;
background-size: cover;
}


.reset-password-container {
    background-color: #ffffff;
    padding: 60px;
    border-radius: 8px;
    width: 300px;

}
.form-group{
    font-family: 'Montserrat';
}

.reset-password-container h1 {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 30%;
    color: #0D986A;
}

.reset-password-container p {
    margin-right: 140px;
    display: flex;
    
}


.form-group {
    position: relative;
    margin-bottom: 15px;
    
}

.form-group input[type="password"] ,.eye-icon-active{
    width: 100%;
    padding: 6px;
    border: 1px solid #2e1212;
    border-radius: 7px;
    font-size: 15px;
    margin-right: 80px;
    
}
.Mata {

    position: absolute;
    right: 6px;
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
}
.Logo{
    position:absolute;
    top: 32px;
    right: 9px ;
    cursor: pointer;
    width: 20px;

}

button {
    background-color: #0D986A;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 70px;
    margin-top: 20px;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

.icon {
    color: #787878; 
    width: 24px;
    height: 24px;
}