body {
    font-family: 'Montserrat';
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.back-button,
.edit-button,
.edit-item-button,
.checkout-button {
    background-color: #0D986A;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.back-button {
    font-size: 1.5em;
}

.cart-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.item-header {
    display: flex;
    align-items: center;
}

.store-name {
    flex-grow: 1;
    font-weight: bold;
}

.item-body {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.item-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-details {
    flex-grow: 1;
    margin-top: 10px;
}

.item-price {
    display: flex;
    align-items: center;
}

.discounted-price {
    color: #ff5722;
    font-weight: bold;
    margin-right: 10px;
}

.original-price {
    text-decoration: line-through;
    color: #888;
}

.item-quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.item-quantity button {
    background-color: #ddd;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.item-quantity input {
    width: 50px;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .item-body {
        flex-direction: row;
    }
    
    .item-details {
        margin-left: 20px;
        margin-top: 0;
    }
}
